@import '../variables';

.sidebar {
    position: fixed;
    height: 100vh;
    background: #fff;
    top: 0px;
    left: 0px;
    width: $sidebarWidth;

    .brand {
        background: $primary;
        padding: 32px;
        margin-bottom: auto;
        color: #fff;
    }

    .links {
        .link {
            margin: 12px;
            padding: 12px;
            border-radius: $border-radius;
            cursor: pointer;

            a,
            i {
                color: $primary;
            }
        }

        .link:hover {
            background: $primary-opacity;
            border: 1px $primary solid;

            a,
            i {
                color: $primary;
            }
        }

        .active {
            box-shadow: $box-shadow;
            background: $primary;

            a,
            i {
                color: #fff;
            }
        }
    }

    .logout {
        margin: 0px 12px;
        margin-top: auto;
        margin-bottom: 24px;
        padding: 12px;
        border-radius: $border-radius;
        cursor: pointer;
        text-align: center;
        border: 1px solid $primary;

        p,
        i {
            color: $primary;
        }

        &:hover {
            box-shadow: $box-shadow;
            background: $primary;

            p,
            i {
                color: #fff;
            }
        }
    }

}



.main {
    margin-left: $sidebarWidth;
}