@import '../variables';
$category-width:100% / 7;

$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);

.category {
    display: inline-block !important;
    width: $category-width;
    cursor: pointer;
    color: $primary;

    .categoryCard:hover {
        border: 1px $primary solid;
        box-shadow: $box-shadow-sm;
    }

    .active {
        background: $primary-opacity;
        border: 1px $primary solid;
        box-shadow: $box-shadow-sm;
        font-weight: bold;
    }

}